*{
    margin: 0;
    padding: 0;
}
.main-cont {
    width: 1040px;  
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 150px;
}
.header {    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400px;
    font-size: 50px;
    line-height: 57px;
    display: flex;
    align-items: center;
    color:#E50043;
    margin: 50px;
}
 .logo{margin-right: auto;
 }
.up-link li{
    display: inline;
}
.about li:not(:last-of-type) {
    margin-left: 25px;
    }
.up-link li a{
    text-decoration: none; 
    color:#E50043
}
.up-pic{
    display: flex;
    color:#E50043;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400px;
    font-size: 100px;
    line-height: 115px;
    align-items: center;
    height: 950px;
    background-image: url(images/evian_origins_logo.png);
    background-size:cover;
    justify-content: center;
}
.up-pic p {
    margin-top: 150px;
}
.border{
    padding: 24px;
    font-family: 25px;
    border:#F8BFC7 solid 3px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.border h3{
margin-bottom: 25px;
}
.products{
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-evenly;
}
.product-pic{
    display: flex;
    width: 281px;
    height: 863px;
}
.product-text{
    display: flex;
    justify-content: center;
    margin-top:48px;
    text-align: center;
} 
.border-flex{
    display: flex;
    justify-content: space-around;
}
.offer-pic{
    display: flex;
    margin: 30px 80px 30px 80px;
}
.offer-text{
    display: flex;
    margin: 30px 30px 30px 0px;
    align-items: center;                
    letter-spacing: 0.05em;
} 
.footer{
    background: #F8BFC7;
    color:#fff;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px 0px 50px 50px;
}
