*{
    margin: 0;
    padding: 0;
}
.header {
    background-color:  #0000FF;
    color: white;
    font-family: 'Helvetica';
    font-size: 25px;
    line-height: 29px;
    padding:35px 0px 36px 30px;
}
.main-cont {
   margin: 102px 110px 102px 110px; 
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}
.content-cont {
    width: 45%;
    height: 300px;
    border: solid 5px black;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-cont p {
    font-family: 'Helvetica';
    font-size: 3em;
    text-align: center;
    }
.footer {
    padding:35px 30px 36px 30px;
    display: flex;
}
.back {
    margin-left: auto;
}

/* Макет для мобильных устройств */
@media only screen and (max-width: 800px) {
    .main-cont {
        margin: 20px 22px 20px 22px; 
        font-size: 0.5em;
     }
    .content-cont {
        width: 80%;
        height: 165px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .back {
        display:none;
    }
  }